@page "/khongduoctruycap.html"
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<header>
    <h1 class="text-danger text-center">@ViewData["Title"]</h1>
    <p class="text-danger text-center mb-5">Bạn không được truy cập chức năng này.</p>
</header>
