@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p class="text-center text-info">
    Hãy kiểm tra email để lấy lại mật khẩu
</p>

