@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h4  class="text-center">Nhập địa chỉ email để lấy lấy lại tài khoản.</h4>
<hr />
<div class="row offset-3 mb-5 mt-3">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
