@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}
<h1  class="text-center">@ViewData["Title"]</h1>
<p  class="text-center">Bạn cần truy cập vào email để xác thực tài khoản</p>
<p  class="text-center mb-lg-5">Hệ thống sẽ tự động gửi email xác thực.</p>

