@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại passwork thành công";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Bạn đã thay đổi password thành công. <a asp-page="./Login">Bấm vào đây</a> để đăng nhập.
</p>
