@page 
@model Courses_MVC.Areas.Admin.Pages.Role.DeleteModel
@{
    ViewData["Title"] = "Xóa role";
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMassage" />

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <h2>Bạn có chắc chắn xóa <strong>@Model.role.Name</strong></h2>
            <div class="form-group">
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Index">Danh sách các role</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
