
@model Lesson
<link href="~/css/LessonDetail.css" rel="stylesheet" />
<body>
    <div class="container col-9 container-custom mb-5">
        <div class="lesson-title mt-4 p-4 pb-2 text-center">@Model.title</div>
        <div class="lesson-des pb-1 pt-3 p-4">
            <b>Mô tả:</b>
            <p>@Model.description</p>
        </div>
        <div class="lesson-content mb-3 p-4 pb-2">
            <b>Nội dung:</b>
            <p>
                @Model.content
            </p>
        </div>
        <div class="lesson-exercise p-4 pt-0 pb-3">
            <b> <i class="fas fa-chalkboard"></i> Bài tập</b>
            <ol>
                <i class="fas fa-pencil-alt"></i>
                <a href="">Bài tâp 1</a>
            </ol>
            <ol>
                <i class="fas fa-pencil-alt"></i>
                <a href="">Bài tâp 1</a>
            </ol>
            <ol>
                <i class="fas fa-pencil-alt"></i>
                <a href="">Bài tâp 1</a>
            </ol>
            <ol>
                <i class="fas fa-pencil-alt"></i>
                <a href="">Bài tâp 1</a>
            </ol>

        </div>
        <div class="move-lesson p-4 pt-0">
            <div class="pre-lesson">
                <a href="button" class="pre-lesson-btn">Kế tiếp</a>

            </div>
            <div class="next-lesson">
                <a href="button" class="pre-lesson-btn">Quay lại</a>
            </div>
        </div>
    </div>


</body>




