@model IEnumerable<Courses_MVC.Models.Course>

<link href="~/css/Courses.css" rel="stylesheet" />
<div>
    <div class="courses-containner">
        <div class="courses-header">
            <h2>Hãy bắt đầu với khóa học đầu tiên của bạn!</h2>
            <div class="input__group">
                <form action="/courses/course-detail" id="form-search">
                    <input type="text" name="coures-title" class="form-control" placeholder="search">
                    <button class="button-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="courses-body">
            <div class="group-topic">
                <div class="course-topic"><h2>Basic knowledge</h2></div>
                <div class="courses-content">
                    @foreach (var item in Model)
                    {
                        <div class="one-course">
                            <div class="course-image"><img src="./course-img.jpg" alt=""></div>
                            <div class="one-course-content">
                                <div class="course-rate"><p>10/10</p></div>
                                <div class="course-title"><a href="">@Html.DisplayFor(modelItem => item.courseName)</a></div>
                                <div class="course-des"><p> @Html.DisplayFor(modelItem => item.discription)</p></div>
                                <div class="course-price"><p>@Html.DisplayFor(modelItem => item.originalPrice)</p></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
                    
