@{
}
<nav class="nav-links">
    <ul class="nav-links__ul">
        <li class="nav-links__li ">
            <a asp-controller="" asp-action="" class=" nav-links__a " id="active--khoahoc">
                <i class="fab fa-cuttlefish"></i>  Quản lý khóa học
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="" asp-action="" class=" nav-links__a" id="active--baohoc">
                <i class="fas fa-hotel"></i>  Quản lý bài học
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="" asp-action="" class=" nav-links__a" id="active--baitap">
                <i class="fas fa-person-booth"></i>  Quản lý bài tập
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="" asp-action="" class=" nav-links__a" id="active--lienhe">
                <i class="fab fa-blogger-b"></i>  Quản lý liên hệ
            </a>
        </li>
        <li class="nav-links__li">

            <a asp-controller="" asp-action="" class=" nav-links__a">
                <i class="far fa-comments"></i>  Quản lý Comment
            </a>
        </li>
        <li class="nav-links__li ">

            <a asp-controller="" asp-action="" class=" nav-links__a ">
                <i class="fas fa-user-tie"></i>  Quản lý User
            </a>
        </li>
    </ul>
</nav>
